{% extends "bones.html" %} 
{% block content %} 
        <p>Hi there. This is the page ALL about me.</p> 
        <div class="flexible">
          <div style="max-width:300px">
            <img src="https://picsum.photos/id/420/300/200" />
          </div>
        </div>
        <p>Lorem ipsum a semper lobortis feugiat tempor est nisl augue, etiam nulla viverra nam arcu sollicitudin feugiat aliquam quisque, leo sollicitudin posuere quam velit ornare aenean elementum. Sollicitudin habitasse ut praesent semper morbi vulputate euismod vestibulum hac orci, commodo ac ut nostra consequat nostra lorem a massa ultricies commodo, mattis luctus convallis orci nibh condimentum urna venenatis torquent. </p>
        <p> Nisl habitasse imperdiet feugiat laoreet habitant quis fermentum nisl, netus accumsan nec condimentum varius suspendisse erat, morbi sagittis cursus nam gravida est mauris. Dapibus etiam quisque nullam a vivamus donec magna, ligula per at aliquet fames inceptos erat, lacinia purus inceptos netus feugiat turpis.
        </p>
{% endblock %} 


