{% extends "bones.html" %} 
{% block content %} 
        <p>Contact me by reciting the below incantation:</p> 
        <div class="flexible">
          <div style="max-width:300px">
            <img src="https://picsum.photos/300/200" />
          </div>
        </div>
        <p>Lorem ipsum nostra netus curae mattis praesent mi cubilia erat commodo egestas habitasse duis, sodales quisque nostra rhoncus habitant tellus dictumst netus aliquam eros gravida tristique. Ut elementum congue mauris sagittis leo rhoncus placerat eget fermentum, hendrerit eleifend gravida cras netus est per tortor, curabitur lectus est nunc libero bibendum neque aenean. Ultricies augue nullam dolor neque eget gravida tristique, varius ligula tristique inceptos blandit donec pulvinar, dolor donec mauris duis quisque id.</p>
        <p>Iaculis platea cras amet vehicula nulla senectus feugiat nam elementum, ut augue mollis ultricies fames posuere ipsum quam, nostra fames hac primis turpis pharetra nam habitasse. Auctor adipiscing primis eleifend integer dolor pellentesque, integer egestas viverra mauris congue torquent, integer blandit congue augue rhoncus. Ornare tempus dictum curabitur volutpat ut fusce vehicula congue conubia, augue velit in enim mauris tellus fames tristique sapien, elementum tincidunt venenatis tristique nulla aenean donec lectus.</p>
        <p>Tristique consectetur sollicitudin tempus lobortis pellentesque fermentum molestie donec sapien, elementum malesuada hac convallis magna aliquet dapibus ac, diam eget nullam quisque fringilla in primis senectus. Ultricies maecenas proin etiam faucibus mauris morbi sit ac integer lorem convallis, iaculis tincidunt quam etiam bibendum nullam inceptos placerat eros aliquam. Felis vulputate euismod placerat pharetra ornare justo litora, cursus venenatis dapibus donec lorem lobortis risus, imperdiet augue taciti nullam sodales nullam.</p>
{% endblock %} 


