{% extends "bones.html" %} 
{% block content %} 
        <p></p>
        <div class="flexible">
          <div style="max-width:300px">
              <img src="https://picsum.photos/id/200/300/200" />
          </div>
        </div>
        <p>Home is where the heart is! Alternatively, your ribs.</p> 
        <p>Erat auctor proin hendrerit risus cubilia luctus tortor quisque ante euismod, varius molestie netus bibendum nullam suscipit tortor donec amet nisi nisl, diam aliquam volutpat aenean odio iaculis per sed aliquam. Dui torquent porta leo rhoncus cras tempor porttitor, eget justo consequat congue et lacus velit, praesent aliquam convallis pretium turpis sed. Arcu fringilla faucibus quis at placerat dictumst habitant aliquam neque primis, tellus ad netus dictum phasellus tempus arcu vel sagittis tempus tristique, ligula faucibus sem diam dictumst pretium quisque leo auctor.</p>
        <p>Purus platea gravida libero iaculis augue egestas odio nunc, sapien erat fringilla nulla aenean maecenas quam, risus dictum per condimentum himenaeos quis praesent. Congue lacinia primis purus iaculis dictum diam ante quam ut, convallis enim erat nibh hac fames vestibulum mattis dictumst senectus, aenean ultrices dolor tincidunt sem nisi orci luctus. Tempus elit gravida arcu hendrerit rutrum elit justo condimentum, litora lacinia cras varius ligula ultrices himenaeos inceptos, tellus scelerisque inceptos ac imperdiet velit congue.</p>
{% endblock %} 


