{% extends "bones.html" %} 
{% block content %} 
        <p>Please take a look at my portfolio!</p> 
        <div class="flexible">
          <div style="max-width:600px">
            <img src="https://picsum.photos/600/400" />
          </div>
          <div style="max-width:600px">
            <img src="https://picsum.photos/600/400" />
          </div>
          <div style="max-width:600px">
            <img src="https://picsum.photos/600/400" />
          </div>
        </div>
        <p> Lobortis semper eu at pharetra primis pretium malesuada adipiscing consequat, venenatis dolor sem auctor dictum adipiscing vitae. Vulputate aenean venenatis morbi laoreet pulvinar enim duis, in litora ornare nulla vulputate varius dui nibh, faucibus a platea pretium elit phasellus. Est sagittis fermentum est enim eleifend laoreet nam lacinia curabitur curae ante habitant mattis, mi id quisque vivamus aliquam orci magna ad faucibus elementum nunc elit. </p>
        <div class="flexible">
          <div style="max-width:500px">
            <img src="https://picsum.photos/500">
          </div>
          <div style="max-width:500px">
            <img src="https://picsum.photos/500">
          </div>
        </div>
        <p> Id quisque per lacus eros vestibulum neque habitant fusce, primis ac semper at facilisis curae class scelerisque tortor, eget ut enim lobortis et ante neque. Class lacus facilisis scelerisque nec proin vulputate, curabitur sollicitudin feugiat id sollicitudin nisi, class quam curabitur vestibulum interdum tempor, massa convallis iaculis est neque. Cursus rutrum vel phasellus turpis semper dolor donec pharetra, elementum lobortis integer tortor dui iaculis placerat hendrerit nam, libero neque metus hendrerit viverra leo eros a, himenaeos at nulla curae hac euismod volutpat. </p>
{% endblock %} 


